@font-face {
  font-family: "MovingSkate";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/moving_skate.ttf") format("truetype");
}
@font-face {
  font-family: "Coiny";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/coiny.ttf") format("truetype");
}
